#mainBackground {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-240px;
	margin-top:-165px;
	width:480px;
	height:330px;
	
	/*background-image:url('Images/background_468_330.png');*/
	 background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
	z-index:-2;
}

.rootPanel
{
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	/*width:468px;
	height:330px; */
	width:474px;
	height:330px; 
	background-color:blue;
}

#mrGoodAreBackground
{
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	/*width:468px;
	height:330px; */
	width:474px;
	height:330px; 
	/*background-image:url('Images/mrgoodArea_468_330.png');*/
	 background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
	
}

#Ground
{
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-234px;
	margin-top:-165px;
	width:468px;
	height:330px;
/*	background-image:url('Images/ground_468_330.png');*/
	 background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.GroundUtilStones
{
	margin: auto;
	position: absolute;
	left: 133px;
	top: 287px;
	width:335px;
	height:43px;
	background-repeat:no-repeat;
	z-index: 1;
}

.GroundUtilSword
{
	margin: auto;
	position: absolute;
	left: 420px;
	top: 236px;
	width:30px;
	height:64px;
	background-repeat:no-repeat;
}

.GroundUtilRightRope
{
	margin: auto;
	position: absolute;
	left: 390px;
	top: 265px;
	width:78px;
	height:8px;
	background-repeat:no-repeat;
}

.GroundUtilHanger
{
	margin: auto;
	position: absolute;
	left: 245px;
	top: 245px;
	width:48px;
	height:57px;
	background-repeat:no-repeat;
	
}
.GroundUtilArrows
{
	margin: auto;
	position: absolute;
	left: 90px;
	top: 247px;
	width:51px;
	height:80px;
	background-repeat:no-repeat;
	z-index: 1;
}

.left_bottom_panel
{
	margin: auto;
	position: absolute;
	left: 0px;
	top: 260px;
	width:128px;
	height:70px;
	background-repeat:no-repeat;
}

.doubleUpFlag
{
	margin: auto;
	position: absolute;
	left: 410px;
	top: 260px;
	width:51px;
	height:50px;
	background-repeat:no-repeat;
}
.autoSpin
{
	margin: auto;
	position: absolute;
	left: 340px;
	top: 255px;
	width:76px;
	height:66px;
	background-repeat:no-repeat;
}
.blueShield
{
	margin: auto;
	position: absolute;
	left: 310px;
	top: 250px;
	width:64px;
	height:48px;
	background-repeat:no-repeat;
}
.spinText
{
	 font-family: gameFont;
     font-size:19px;
     text-align: center;
     width:47px;
     height:84px;
     margin-top:-35px;
     line-height:12px;
     color:#FF9933;
}

.redShield
{
	margin: auto;
	position: absolute;
	left: 270px;
	top: 245px;
	width:48px;
	height:60px;
	background-repeat:no-repeat;
}
.betMaxText
{
	 font-family: gameFont;
     font-size:16px;
     text-align: center;
     width:47px;
     height:84px;
     margin-top:-50px;
     line-height:12px;
     color:#FF9933;
}

.barrelSelectLines
{
	margin: auto;
	position: absolute;
	left: 210px;
	top: 260px;
	width:66px;
	height:60px;
	background-repeat:no-repeat;
}

.barrelSelectLinesText
{
	 font-family: gameFont;
     font-size:16px;
     text-align: center;
     width:47px;
     height:84px;
     margin-top:-50px;
     margin-left:15px;
     line-height:12px;
}


.barrelLineBet
{
	margin: auto;
	position: absolute;
	left: 170px;
	top: 243px;
	width:47px;
	height:84px;
	background-repeat:no-repeat;
}
.barrelLineBet > p
{
	 font-family: gameFont;
     font-size:16px;
     text-align: center;
     width:47px;
     height:84px;
     margin-top:-50px;
     line-height:15px;
}

.barrelChooseBet
{
	margin: auto;
	position: absolute;
	left: 125px;
	top: 260px;
	width:51px;
	height:73px;
	background-repeat:no-repeat;
	
}
 .barrelChooseBet > p {
        font-family: gameFont;
        font-size:11px;
     /*   transform:scale(1,2); 
   		-webkit-transform:scale(1,2); 
    	-moz-transform:scale(1,2); 
    	-ms-transform:scale(1,2); 
    	-o-transform:scale(1,2);  */
       margin-top:-50px;
       width:60px;
       height:10px;
       position:absolute;
    /*   background-color:red; */
      
} 
.textChooseBetValue
{
	 margin-top:-45px;
	 font-family: gameFont;
     font-size:20px;
     text-align: center;
     position:absolute;
    
      width:50px;
       height:20px;
}


.center_bottom_text_line
{
	margin: auto;
	position: absolute;
	left: 180px;
	top: 315px;
	width:208px;
	height:15px;
	background-repeat:no-repeat;
}


#GridDisplayer
{
	/*background-color:#00ff00;*/
	width:350px;
	height:205px;
 	top:52px; 
 	left:70px;
 	position:absolute;
	overflow:hidden; 
	
}

@font-face
{
font-family: gameFont;
src: url('Fonts/CloisterBlack.ttf');
}



#stage 
{
		/* background-color:red;*/
		margin-top:70px;
		position: absolute;
}

.ring
{ 
      height: 65px;
      width:65px;  
 }
 .ring
 .ring > :nth-child(odd)
  {
      
  }

  .ring > :nth-child(even)
   {
  	
   }
   
#ring0
{
/* for angular spin */
 -webkit-transition: -webkit-transform ;
 transition:  transform;
-moz-transition:-moz-transform;
-o-transition:-o-transform;
 -webkit-transform-style: preserve-3d;
-webkit-transition-duration:1s;

transition-timing-function:linear;
-moz-transition-timing-function:linear;
-webkit-transition-timing-function:linear;
-o-transition-timing-function:linear;

-webkit-perspective:10000;
-webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
/*-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 1.050); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 1.050); 
    -ms-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 1.050); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 1.050); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 1.050); *//* linear */
 }

 #ring1
 {
  
margin-top:-65px;
margin-left:69px;

/* for angular spin */
-webkit-transform-style: preserve-3d;
 -webkit-transition: -webkit-transform;
 transition:  transform;
-moz-transition:-moz-transform;
-o-transition:-o-transform;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
-moz-transition-duration:1s;
transition-duration:1s;

transition-timing-function:linear;
-moz-transition-timing-function:linear;
-webkit-transition-timing-function:linear;
-o-transition-timing-function:linear;
-webkit-perspective:10000;
-webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
 }
 
  #ring2
 {
margin-top:-65px;
margin-left:139px;

/* for angular spin */
-webkit-transform-style: preserve-3d;
-webkit-transition: -webkit-transform ;
transition:  transform;
-moz-transition:-moz-transform;
-o-transition:-o-transform;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
-moz-transition-duration:1s;
transition-duration:1s;

transition-timing-function:linear;
-moz-transition-timing-function:linear;
-webkit-transition-timing-function:linear;
-o-transition-timing-function:linear;
-webkit-perspective:10000;
-webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
 }
 
  #ring3
 {
margin-top:-65px;
margin-left:209px;

/* for angular spin */
-webkit-transition: -webkit-transform ;
transition:  transform;
-moz-transition:-moz-transform;
-o-transition:-o-transform;
-webkit-transition-duration:1s;
 -webkit-transform-style: preserve-3d;
 -o-transition-duration:1s;
-moz-transition-duration:1s;
transition-duration:1s;

transition-timing-function:linear;
-moz-transition-timing-function:linear;
-webkit-transition-timing-function:linear;
-o-transition-timing-function:linear;
-webkit-perspective:10000;
-webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
  }
 
  #ring4
 {
  margin-top:-65px;
margin-left:279px;


/* for angular spin */
 -webkit-transition: -webkit-transform ;
 transition:  transform;
-moz-transition:-moz-transform;
-o-transition:-o-transform;
-webkit-transform-style: preserve-3d;
-webkit-transition-duration:1s;

transition-timing-function:linear;
-moz-transition-timing-function:linear;
-webkit-transition-timing-function:linear;
-o-transition-timing-function:linear;
-webkit-perspective:10000;
-webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;

 }
.backface-invisible {
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }
 
 
   @-webkit-keyframes x-spin {

        0%    { -webkit-transform: rotateX(0deg); }
        50%   { -webkit-transform: rotateX(-180deg); }
        100%  { -webkit-transform: rotateX(-360deg); }
      }
      
  @-webkit-keyframes half-x-spin {
        0%    { -webkit-transform: rotateX(0deg); }
        50%   { -webkit-transform: rotateX(-90deg); }
        100%  { -webkit-transform: rotateX(-180deg); }
      }
     
 .poster {

   position:absolute;
        left: 0px;
        /*width: 230px;*/
        width:65px;
        height: 65px; /* 666.6666--> 205px */
        
          -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden; 
              
 

      }
	  
	  .poster > p {
        font-family: 'Georgia', serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
       
      }   
  .poster > :nth-child(odd)
  {
     
      
  }

  .poster > :nth-child(even)
   {
  	 
   }




.posterAnimated
{
	 position:absolute;
     left: 0px;
     /*width: 230px;*/
     width:65px;
     height: 64px; /* 666.6666--> 205px */
     
 -webkit-transition: -webkit-transform ;
 transition:  transform;
-moz-transition:-moz-transform;
-o-transition:-o-transform;
-webkit-transform-style: preserve-3d;
-webkit-transition-duration:1s;

transition-timing-function:linear;
-moz-transition-timing-function:linear;
-webkit-transition-timing-function:linear;
-o-transition-timing-function:linear;

	
	
}
.posterBorderAnimated
{
	background-origin: border-box;
	position:absolute;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	border: 0 solid #000;

	
	 -webkit-transition : border 500ms ease-in-out; 
 	-moz-transition : border 500ms ease-in-out;
 	-o-transition : border 500ms ease-in-out; 
 	-webkit-transform-style: preserve-3d; 


}




.btn
{
	left: 100px;
	top: 100px;
	width:100px;
	height:50px;
	background-color:red;
}



#main
{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
@media only screen and (orientation:portrait) {
	
	#main {
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
}

body {
  color: black;
  overflow:hidden;
}


  .gwt-Frame {
   overflow:hidden;
    color: white;
    border: 0px none;
    margin: 0px
  }
  
  /* Dialog boxes */
.dialogTopLeftInner, .dialogMiddleLeftInner, .dialogBottomLeftInner,
.dialogTopRightInner, .dialogMiddleRightInner, .dialogBottomRightInner {
  display: none;
}
.gwt-DialogBox {
  background-color: white;
  border: 1px solid #666;
  z-index: 2;
}
.gwt-DialogBox .Caption {
 
  font-weight: bold;
  text-shadow: #fff 0 2px 2px;
  cursor: default;
  padding: 5px 10px;
  border-bottom: 1px solid #999;
  text-align: left;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .gwt-Button {
  margin: 10px;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.5;
  filter: literal("alpha(opacity=30)");
  z-index: 2;
}

.dialogBox
{
	
	left: 50%;
	top: 50%;
	margin-left:-200px;
	margin-top:-125px;
	width:400px;
	height:250px; 
	border-radius:10px;
	border:2px solid #a1a1a1;
}


.SpinnerParent
{
	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-100px;
	margin-top:-100px;
	width:200px;
	height:200px; 
	z-index:2;
}
.LoadedRatioText
{
	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-15%;
	margin-top:-5%;
	width:30%;
	height:30%; 
	 font-family: gameFont;
     font-size:25px;
     text-align: center;
      font-weight: bold;
      
}
 
 .infoText
 {
 	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-240px;
	margin-top:-165px;
	width:480px;
	height:330px; 

	font-size: 26px;
    font-weight: bold;
    text-align: left;
 }

